<!-- djangotemplates/example/templates/about.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About Us</a>
    <a href="{% url 'contact' %}">Contact Us</a>
</head>
<body>
  
  <p>
  We are a group of Django enthusiasts with the following idiosyncrasies:

  <ol>
    <li>We only eat bananas on Saturdays.</li>
    <li>We love making playing football on rainy days.</li>
  </ol>
  </p>
  
</body>
</html>